<div class="header pt-5 pt-md-7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="display-5">Conversaciones</h2>
        <div style="max-height: 75vh; overflow-y: auto;">


          <div class="card border-0 conversacion">
            <div class="card-body">
              <div class="head">
                <h5 class="mb-0">Alejandro</h5>
                <small class="text-light">12/02/2020</small>
              </div>
              <div class="body">
                <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small>
                <span class="badge badge-success">3</span>
              </div>
            </div>
          </div>




        </div>
      </div>
      <div class="col-lg-8" style="height: 75vh;">
        <h2 class="display-5 mb-0">Nombre</h2>
        <hr class="mt-0">

        <div class="chatContainer">

          <div class="chats" style="order: 2">

            <div class=" conversacion">
              <div class="card-body">
                <div>
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>

            <div class=" conversacion">
              <div class="card-body">
                <div class="text-right">
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>
            <div class=" conversacion">
              <div class="card-body">
                <div>
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>

            <div class=" conversacion">
              <div class="card-body">
                <div class="text-right">
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>
            <div class=" conversacion">
              <div class="card-body">
                <div>
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>

            <div class=" conversacion">
              <div class="card-body">
                <div class="text-right">
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>
            <div class=" conversacion">
              <div class="card-body">
                <div>
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>

            <div class=" conversacion">
              <div class="card-body">
                <div class="text-right">
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>
            <div class=" conversacion">
              <div class="card-body">
                <div>
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>

            <div class=" conversacion">
              <div class="card-body">
                <div class="text-right">
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>
            <div class=" conversacion">
              <div class="card-body">
                <div>
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>

            <div class=" conversacion">
              <div class="card-body">
                <div class="text-right">
                  <small class="mt-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. lore</small><br>
                  <small class="text-light">12/02/2020</small>
                </div>
              </div>
            </div>

          </div>


          <div style="order: 1; margin-top: 10px;">
              <div class="form-group body">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Escribir un mensahe">
                <button class="btn" type="button" style="color: white; background-color: #EC6717; margin-left: 5px;">
                  <span class="btn-inner--icon text-center"><i class="fab fa-telegram-plane"></i></span>
                </button>
              </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
